.frame {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;

    font-size: 10vh;

    text-align: center;
}

.content_frame {
    flex: 1;

    background-color: rgb(255, 255, 255);

    display: flex;

    flex-direction: column;

    text-align: left;

}

.systemButton {
    display: inline-block;

    max-width: 50%;
    width: 50%;

    padding: 5px;
    padding-left: 60px;

    margin: auto;
    margin-left: 20px;

    font-size: 10vh;
    font-weight: 500;

    background-color: rgb(202, 202, 202);

    cursor: pointer;

}